:root {
  --primaryColor: #6FA692;
  --secondaryColor:#374659;
  --lightColor: #B4D4ED;
  --darkColor: rgba(32, 44, 58, 1);
  --greenDark2: #3b554b;
  --okColor: #55d9a6;
  --hw : 110;
  --wh : ((50*$hw)/86)*1px;
}
.home {
  background-image: url(../../assets/images/land.jpg);
  background-size: cover;
  background-position: center;  
  padding-top: 50px;
}

.home h1 {
  margin: 0;
}
.about {
  margin-top: 100px;
  text-align: center;
}
.about img {
  width: 350px;
}


.skills {
  margin-top: 130px;
  text-align: center;
  color: var(--lightColor);
}
.skills p {
  margin-bottom: 100px;
  margin-left: 25px;
}
.skills h1 {
  margin-bottom: 53px;
}
.gridOfHexagons.last  {
  margin-bottom: 125px;
}

.contact {
  margin: 0px auto;
  width: 500px;
  height: 600px;
  margin-top: 230px;
}
.contact h3 {
  padding-top: 20px;
}

.linesvg {
  position: absolute;
  left: 50%;
  transform: translate(-50%  );
}
.linesvg svg {
  stroke-width: 5px;
  stroke: var(--primaryColor);
}

.gridOfHexagons {
  width: 600px;
  height: 175px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
}

.visible {
  padding: 0px 20px;
  border-radius: 5px;
  animation-name: title;
  animation-duration: 1.5s ;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.visibleH {
  animation-name: hexagons;
  animation-duration: 1.5s;
}

@keyframes title {
  from {
    margin-left: 100%;

  }
  to {
    margin-left: 0%;
  }
}

@keyframes hexagons {
  from {
    transform: rotate(35deg);
  }
  to {
    transform: rotate(0deg);
  }
}