:root {
  --primaryColor: #6FA692;
  --secondaryColor:#374659;
  --lightColor: #B4D4ED;
  --darkColor: rgba(32, 44, 58, 1);
  --greenDark2: #3b554b;
  --hw : 110;
  --wh : ((50*$hw)/86)*1px;
}
.home {
  background-image: url(../../assets/images/land.jpg);
  background-size: cover;
  background-position: center;  
  padding-top: 50px;
}

.home h1 {
  margin: 0;
}
.about {
  margin-top: 100px;
  text-align: center;
}
.about img {
  width: 350px;
}


.skills {
  margin-top: 130px;
  text-align: center;
  color: var(--lightColor);
}
.skills p {
  margin-bottom: 100px;
  margin-left: 25px;
}
.skills h1 {
  margin-bottom: 53px;
}
.gridOfHexagons.last  {
  margin-bottom: 125px;
}

.contact {
  margin: 0px auto;
  width: 500px;
  height: 300px;
  border: 2px solid var(--lightColor);
  margin-top: 200px;
}

.linesvg {
  position: absolute;
  left: 50%;
  transform: translate(-50%  );
}
.linesvg svg {
  stroke-width: 5px;
  stroke: var(--primaryColor);
}

.gridOfHexagons {
  width: 600px;
  height: 175px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
}

.visible {
  padding: 0px 20px;
  border-radius: 5px;
  animation-name: title;
  animation-duration: 1.5s ;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.visibleH {
  animation-name: hexagons;
  animation-duration: 1.5s;
}

@keyframes title {
  from {
    margin-left: 100%;

  }
  to {
    margin-left: 0%;
  }
}

@keyframes hexagons {
  from {
    transform: rotate(35deg);
  }
  to {
    transform: rotate(0deg);
  }
}

/* Color Theme Swatches in Hex */
.The-NM-Laboratory-|-Full-CGI-1-hex { color: #364559; }
.The-NM-Laboratory-|-Full-CGI-2-hex { color: #7C8EA6; }
.The-NM-Laboratory-|-Full-CGI-3-hex { color: #B3D5F2; }
.The-NM-Laboratory-|-Full-CGI-4-hex { color: #5D8C7F; }
.The-NM-Laboratory-|-Full-CGI-5-hex { color: #6FA692; }

/* Color Theme Swatches in RGBA */
.The-NM-Laboratory-|-Full-CGI-1-rgba { color: rgba(53, 69, 89, 1); }
.The-NM-Laboratory-|-Full-CGI-2-rgba { color: rgba(124, 142, 165, 1); }
.The-NM-Laboratory-|-Full-CGI-3-rgba { color: rgba(179, 212, 242, 1); }
.The-NM-Laboratory-|-Full-CGI-4-rgba { color: rgba(92, 140, 126, 1); }
.The-NM-Laboratory-|-Full-CGI-5-rgba { color: rgba(111, 165, 145, 1); }

/* Color Theme Swatches in HSLA */
.The-NM-Laboratory-|-Full-CGI-1-hsla { color: hsla(213, 25, 27, 1); }
.The-NM-Laboratory-|-Full-CGI-2-hsla { color: hsla(213, 18, 56, 1); }
.The-NM-Laboratory-|-Full-CGI-3-hsla { color: hsla(208, 71, 82, 1); }
.The-NM-Laboratory-|-Full-CGI-4-hsla { color: hsla(163, 20, 45, 1); }
.The-NM-Laboratory-|-Full-CGI-5-hsla { color: hsla(157, 23, 54, 1); }
