.footer { 
    width: 100%;
    height: 200px;
    background-color: #202c3a ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mediaSites {
    color: #ffff;
    margin: 20px; 
    font-size: 2rem;
}

.footer p {
    color: #ffff;
}