.navbar {
    width: 100%;
    height: 110px;
    background: #202c3a;
}
.titleBox {
    display: grid;       
    grid-template-columns: 1fr 3fr 1fr;

}

.logoOB span {
    float: right;
    border: #b4d4ed 2px solid; 
    text-align: center;
    font-size: 1.3rem;
    padding: 10px;
}
.homeIcon svg {
    border: #b4d4ed 2px solid;
    padding: 12px;
    font-size: 1.5rem;    
}

.homeIcon, .logoOB {
    color: #b4d4ed;       
    margin: 10px;
}


.navLinks {
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 20px;
}
  
.navbar a {
    color: #b4d4ed;
    text-decoration: none;
    font-size: 1.2rem;
}