
.titleVideo {
    width: 600px;
    position: absolute;
}

video {
    width: 100%;
}

.titleVideo svg{
    height: 0;
    width: 0;
}
.titleVideo {
    clip-path: url(#text-path);
    margin-top: -100px;
}
